body{
 font-family: 'Arvo', serif;

}
.height{
 min-height: 100vh;
}


.title-underline{
 width: 200px;
 height: 10px;
 margin: 0 auto;
 /* background: blue!important; */
}

.height-80{
 min-height:80vh;
}

.about-picture{
 background: url(../img/about-bcg.jpeg)center/cover no-repeat fixed;
 /* background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed; */
}
#filler,#progress{
 background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/projects-1.jpeg)center/cover no-repeat fixed;
 
}
